<div class="row">
    <div class="col-sm-3 d-none d-sm-block">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="h5">APIs</span>
            </li>
            {{#each data.swagger.paths}}
            {{#with @key}}
            {{#each ../this}}
            <li class="list-group-item">
                <span class="badge bg-secondary">{{@key}}</span>
                &nbsp;&nbsp;<a href="#{{operationId}}">{{operationId}}</a>
            </li>
            {{/each}}
            {{/with}}
            {{/each}}
            {{#if data.swagger.definitions}}
            <li class="list-group-item"><span class="h5">Schemas</span></li>
            {{#each data.swagger.definitions}}
            <li class="list-group-item">
                <span class="badge bg-secondary">Schema</span>
                <a href="#definitions/{{@key}}">{{@key}}</a>
            </li>
            {{/each}}
            {{/if}}
        </ul>
    </div>
    <div class="col-sm-9">
        <h1>
            {{data.swagger.info.title}}
            <small class="text-muted">{{data.swagger.info.version}}</small>
        </h1>

        <p>{{{data.swagger.info.description}}}</p>
        <p><a href="{{data.swagger.info.termsOfService}}">Terms of Service</a></p>

        {{#if data.swagger.securityDefinitions}}
        <h2>Security definitions</h2>
        {{#each data.swagger.securityDefinitions}}
        <h3>{{@key}}</h3>
        {{#with @key}}
        {{#ifCond ../type '==' 'oauth2'}}
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>type</th>
                    <th colspan="2">{{../../type}}</th>
                </tr>
            {{#if ../../description}}
                <tr>
                    <th>description</th>
                    <th colspan="2">{{../../description}}</th>
                </tr>
            {{/if}}
            {{#if ../../authorizationUrl}}
                <tr>
                    <th>authorizationUrl</th>
                    <th colspan="2"><a href="{{../../authorizationUrl}}">{{../../authorizationUrl}}</a></th>
                </tr>
            {{/if}}
            {{#if ../../flow}}
                <tr>
                    <th>flow</th>
                    <th colspan="2">{{../../flow}}</th>
                </tr>
            {{/if}}
            {{#if ../../tokenUrl}}
                <tr>
                    <th>tokenUrl</th>
                    <th colspan="2">{{../../tokenUrl}}</th>
                </tr>
            {{/if}}
            {{#if ../../scopes}}
                <tr>
                    <th>Scopes</th>
                    <th>
                    {{#each ../../scopes}}
                        <p>{{@key}} - {{this}}</p>
                    {{/each}}
                    </th>
                </tr>     
            {{/if}}
            </table>
        </div>
        {{/ifCond}}
        {{#ifCond ../type '==' 'apiKey'}}
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>type</th>
                    <th colspan="2">{{../../type}}</th>
                </tr>
            {{#if ../../description}}
                <tr>
                    <th>description</th>
                    <th colspan="2">{{../../description}}</th>
                </tr>
            {{/if}}
            {{#if ../../name}}
                <tr>
                    <th>name</th>
                    <th colspan="2">{{../../name}}</th>
                </tr>
            {{/if}}
            {{#if ../../in}}
                <tr>
                    <th>in</th>
                    <th colspan="2">{{../../in}}</th>
                </tr>
            {{/if}}
            </table>
        </div>
        {{/ifCond}}
        {{#ifCond ../type '==' 'basic'}}
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>type</th>
                    <th colspan="2">{{../../type}}</th>
                </tr>
            {{#if ../../description}}
                <tr>
                    <th>description</th>
                    <th colspan="2">{{../../description}}</th>
                </tr>
            {{/if}}
            </table>
        </div>
        {{/ifCond}}
        {{/with}}
        {{/each}}
        {{/if}}

        <h1>APIs</h1>

        {{#each data.swagger.paths}}
        {{#with @key}}
        {{#each ../this}}
            <div class="card card-body mb-3">
                <h2 id="{{operationId}}">
                    {{#ifCond @key '==' 'get'}}
                    <span class="badge bg-primary">GET</span>
                    {{/ifCond}}
                    {{#ifCond @key '==' 'post'}}
                    <span class="badge bg-success">POST</span>
                    {{/ifCond}}
                    {{#ifCond @key '==' 'put'}}
                    <span class="badge bg-warning">PUT</span>
                    {{/ifCond}}
                    {{#ifCond @key '==' 'delete'}}
                    <span class="badge bg-danger">DELETE</span>
                    {{/ifCond}}
                    &nbsp;&nbsp;<a href="#{{operationId}}">{{operationId}}</a>
                </h2>
                {{#if deprecated}}<span class="text-danger">* Deprecated *</span>{{/if}}

                <p>{{description}}</p>
                <p>{{summary}}</p>

                {{#if externalDocs.url}}{{externalDocs.description}}. [See external documents for more details]({{externalDocs.url}}){{/if}}

                <h4>Request</h4>

                {{#if consumes}}
                <p>
                    <b>Content-Type:</b>
                    <i>
                    {{#each consumes}}
                        {{#if @last}} 
                        {{this}}
                        {{else}}
                        {{this}}, 
                        {{/if}}
                    {{/each}}
                    </i>
                </p>
                {{/if}}

                <h5>Parameters</h5>
                {{#if parameters}}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Located in</th>
                            <th>Required</th>
                            <th>Description</th>
                            <th>Default</th>
                            <th>Schema</th>
                        </tr>
                        {{#each parameters}}
                        <tr>
                            <th>{{name}}</th>
                            <td>{{in}}</td>
                            <td>{{#if required}}yes{{else}}no{{/if}}</td>
                            <td>{{description}}{{#if pattern}} (**Pattern**: `{{pattern}}`){{/if}}</td>
                            <td> - </td>
                        {{#ifCond in '==' 'body'}}
                            <td>
                            {{#ifCond ../schema.type '==' 'array'}}
                                Array[<a href="{{../schema.items.$ref}}">{{../schema.items.$ref}}</a>]
                            {{else}}
                                <a href="{{../schema.$ref}}">{{../schema.$ref}}</a>
                            {{/ifCond}}
                            </td>
                        {{else}}
                            {{#ifCond ../type '==' 'array'}}
                                <td>Array[{{../type}}] ({{../collectionFormat}})</td>
                            {{else}}
                                <td>{{../type}} {{#if ../format}}({{../format}}){{/if}}</td>
                            {{/ifCond}}
                        {{/ifCond}}
                        </tr>
                        {{/each}}
                    </table>
                </div>
                {{/if}}

                <h4>Response</h4>
                {{#if produces}}
                <p>
                    <b>Content-Type:</b>
                    <i>
                    {{#each produces}}
                        {{#if @last}} 
                        {{this}}
                        {{else}}
                        {{this}}, 
                        {{/if}}
                    {{/each}}
                    </i>
                </p>
                {{/if}}
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>Status Code</th>
                            <th>Reason</th>
                            <th>Response Model</th>
                        </tr>
                        {{#each responses}}
                        <tr>
                            <td>{{@key}}</td>
                            <td>{{description}}</td>
                            <td>
                            {{#ifCond schema.type '==' 'array'}}
                                Array[
                                    <a href="{{../schema.items.$ref}}">{{../schema.items.$ref}}</a>
                                ]
                            {{else}}
                                <a href="{{../schema.$ref}}">{{../schema.$ref}}</a>
                            {{/ifCond}}
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        {{/each}}
        {{/with}}
        {{/each}}

        {{#if data.swagger.definitions}}
            <div class="pb-3">
            <h1>Definitions</h1>
            {{#each data.swagger.definitions}}
            <div class="card card-body mb-3">
                <h2 id="definitions/{{@key}}">
                    <a href="#definitions/{{@key}}">{{@key}}</a>
                </h2>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th>name</th>
                            <th>type</th>
                            <th>required</th>
                            <th>description</th>
                            <th>example</th>
                        </tr>
                        {{#each this.properties}}
                            <tr>
                                <td>{{@key}}</td>
                                <td>
                                    {{type}}
                                    {{#ifCond type '==' "array"}}
                                        {{type}}[]
                                        {{#if ../items.$ref}}
                                            <a href="/{{../items.$ref}}">{{../items.$ref}}</a>
                                        {{/if}}
                                    {{else}}
                                        {{#if ../$ref}}
                                            <a href="/{{../$ref}}">{{../$ref}}</a>
                                        {{/if}}
                                        {{#if ../format}}
                                            ({{../format}})
                                        {{/if}}
                                    {{/ifCond}}
                                </td>
                                <td>
                                    {{#ifCond (includes ../required @key) '==' true}}
                                        required
                                    {{else}}
                                        optional
                                    {{/ifCond}}
                                </td>
                                <td>
                                    {{#if description}}
                                        {{{description}}}
                                    {{/if}}
                                </td>
                                <td>
                                    {{example}}
                                    {{#if enum}}
                                        {{enum}}
                                    {{/if}}    
                                </td>
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
    <a class="top-link hide" href="" id="js-top">
        <i class="lni lni-chevron-up-circle"></i>
    </a>
</div>