<div class="row">
  <h1>Tag: <%= locals.tag %></h1>
  <% for(const post of locals.posts){ %>
  <div class="col-xs-12 col-sm-3 mb-4 d-flex align-items-stretch">
    <div class="card shadow-sm">
      <div class="card-body">
        <p class="card-text">
          <h2>
            <a href="/<%= this.permalink %>/"><%= post.title %></a> 
          </h2>
          <%= post.summary %>
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <a class="btn btn-outline-secondary" href="/<%= post.permalink %>">Read more..</a>
        </div>
      </div>
    </div>
  </div>
  <% }; %>
</div>